In [2]:
print(1+5)

6

In [3]:
print(6*7)

42

In [5]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [6]:
print("今日の天気は" + "晴れ")

今日の天気は晴れ

In [7]:
print("降水確率" + str(50) + "%")

降水確率50%

In [8]:
print("降水確率" + 50 + "%")

TypeError: can only concatenate str (not "int") to str

In [9]:
print("晴れ" * 5)

晴れ晴れ晴れ晴れ晴れ

In [10]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [12]:
number1 = 5
number2 = 2.5
print(number1 + number2)

last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [14]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [20]:
top = 10
under = 20
high = 5
print(((top + under) * high ) / 2)

75.0

In [23]:
from ctypes import ArgumentError
top = 10
under = 20
high = 5
area = (((top + under) * high ) / 2)
print(f"{area}cm²")

75.0cm²