In [ ]:
print(1+5)

6

In [ ]:
print(6*7)

42

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print("今日の天気は" + "晴れ")

今日の天気は晴れ

In [ ]:
print("降水確率" + str(50) + "%")

降水確率50%

In [ ]:
print("降水確率" + 50 + "%")

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("晴れ" * 5)

晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [ ]:
number1 = 5
number2 = 2.5
print(number1 + number2)

last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
top = 10
under = 20
high = 5
print(((top + under) * high ) / 2)

75.0

In [ ]:
from ctypes import ArgumentError
top = 10
under = 20
high = 5
area = (((top + under) * high ) / 2)
print(f"{area}cm²")

75.0cm²

In [ ]:
user_names =["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1])

user_names[1] = "侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

# セットの3番目の要素を表示 ⇒ できないためエラー
print(prime_numbers[2])

{2, 3, 5, 7}

TypeError: 'set' object is not subscriptable

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'日本', 'アメリカ', 'フランス', 'イギリス'}
{'フランス', 'ドイツ', '日本', 'アメリカ', 'イギリス'}
{'フランス', 'ドイツ', '日本', 'アメリカ'}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# ボールペンの価格を取り出して表示
print(stationery_prices["ボールペン"])

# 連想配列全体を取り出して表示
print(stationery_prices)

120
{'鉛筆': 70, 'ボールペン': 120, 'シャープペンシル': 150, '消しゴム': 90}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# 「シャープペンシル」を要素ごと削除
stationery_prices.pop("シャープペンシル")

# 連想配列全体を取り出して表示
print(stationery_prices)

{'鉛筆': 70, 'ボールペン': 120, '消しゴム': 90}

In [ ]:
fruits = {'Apple': 'Red', 'Banana': 'Yellow', 'Grape': 'Purple'}

print(fruits["Apple"])

Red

In [ ]:
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]

dictionary = {"mon": "晴れ", "tue": "雨", "wed": "晴れ", "thu": "晴れ", "fri": "曇り", "sat": "曇りのち雨", "sun": "雷雨"}

print(array[2])
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1 < num and num < 3:
    print("変数numは1より大きく、3より小さいです")
else:
    print("and条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）
if num == 1 or num == 3:
    print("変数numは1または3です")
else:
    print("or条件が成り立ちませんでした")

2
変数numは1より大きく、3より小さいです
or条件が成り立ちませんでした

In [ ]:
# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が11～29）g
if 10 < num and num < 30:
    print("変数numは10より大きく、30より小さいです")

# 1つでも条件が成り立てば処理を行う（変数numの値が10または30）
if num == 10 or num == 30:
    print("変数numは10または30です")

In [ ]:
var = int(input("正の整数を入力してください"))
print("整数", var, "が入力されました")

#3の倍数の場合：number % 3 == 0
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 5 == 0:
    print("Buzz")
elif var % 3 ==0:
    print("Fizz")
else:
    print(var)

正の整数を入力してください10675
整数 10675 が入力されました
Buzz

In [1]:
personal_data = {"name": "知治", "age": 6, "gender": "男性"}

for key, value in personal_data.items():
    print(f"{key}は{value}です。")

for value in personal_data.values():
    print(value)

nameは知治です。
ageは6です。
genderは男性です。
知治
6
男性

In [12]:
array = ["水","金","地","火","木","土","天","海","冥"]

for planet_name in array:
    print(planet_name)

i = 0

while i != 9:
    print(array[i])
    i = i + 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥